.material-icons {
  vertical-align: middle;
}

#add {
  color: unset;
}

.item-title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover, .list-group-item:focus {
  z-index: unset;
}

.hook {
  display: none;
  font-size: 2rem;
  color: #28a745;
}

#quiz, #new-item {
  font-size: 1.2rem;
}

footer {
  border-top: 1px solid gray;
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.list-group-item.active {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
