#element {
    margin-top: 10px;
}

.sub-text {
    color:#aaa;
    font-family: verdana !important;
    font-size: 11px;
}

hr {
    margin-top: 4px;
    margin-bottom: 4px;
}

.comment-item {
    display: flex;
}

.voting-area {
    margin-right: 10px;
}

.fade-comment {
    width:  100%;
    height: 100%;
    -webkit-animation: fadeinout 2s ease-in forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    100% { opacity: 1; }
}

@keyframes fadeinout {
    100% { opacity: 1; }
}

button {
    margin-left: 14px;
}