#element #audio {
  text-align: center;
}


#audio{
  height: 54px;
  margin: 1rem 0 3rem;
}

#audio audio {
  width: 100%;
}

h4 {
  margin-bottom: -.6rem;
  letter-spacing: -1px;
  font-weight: bolder;
}
