.ccm-posts {
  font-family: Verdana, Helvetica, Sans-Serif;
  font-size: 90%;
  margin: 0;
  padding: 0.6em;
}

.close {
  font-size: 1.2em;
  cursor: pointer;
  color: #84a266;
}

#posts,
.post {
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  margin-bottom: 0.5em;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  font-size: 110%;
  font-family: "Arial", sans-serif;
  order: 1;
}

.name,
.date {
  order: 2;
  font-size: 70%;
  color: #909090;
}

.user {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  align-content: center;
}

.title div,
.content div {
  display: inline-block;
}

.empty:after {
  content: 'edit';
  color: silver;
}

.post {
  margin: 0.5em 0 0.5em;
  padding: 0.7em;
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0 0 3px #84a266;
}

.user > .fa {
  font-size: 2.5em;
  padding: 0.1em 0 0.1em 0;
  color: #84a266;
}

.ccm-posts button:hover {
  background: none repeat scroll 0 0 #556740;
}

.ccm-posts button {
  background: none repeat scroll 0 0 #85a366;
  border: 1px solid #556740;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(100, 100, 100, 0.3);
  color: white;
  cursor: pointer;
  line-height: 1;
  padding: 0.6em 0.8em;
  text-align: center;
  transition: background 0.15s ease 0s, color 0.15s ease 0s;
}