/*----------------------------------------------------- DEPRECATED ---------------------------------------------------*/

#canvas {
  margin-bottom: 1.0em;
  border: 1px solid #ddd;
  max-width: 940px;

  webkit-box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -12px rgba(0,0,0,0.75);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
