span {
  cursor: pointer;
}

.selected {
  border-radius: 22px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
}

.selected:active {
  background: #3cb0fd;
  text-decoration: none;
}