.container {
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
hr {
    margin: 40px 40px 40px 40px !important;
}

form {
    margin-top: 15px;
}

.btn {
    margin-top: 15px;
    margin-left: 15px;
}

/*.question:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 15px;
}*/