#element {
    padding: .4rem;
}

#element .badge {
    font-size: .9rem;
}

#element #section {
    letter-spacing: .1rem;
    line-height: .3rem;
}

#element #signature {
    font-size: .8rem;
}

#element #new-answer-heading {
    letter-spacing: .1rem;
}

#element .container {
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

#element hr {
    margin-top: 0.3em;
}

#element form {
    margin-top: 15px;
}

#element .voting-area,
#element .voting-overview {
    text-align: center;
}

#element .voting-overview,
#element .answer-accepted {
    font-size: 15px;
}

#element .btn {
    margin-top: 15px;
    margin-left: 15px;
}

#element .glyphicon-ok {
    cursor: pointer;
    color: lightgray;
}

#element .accepted {
    color: green;
}
