.container {
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
hr {
    margin: 40px 40px 40px 40px !important;
}

form {
    margin-top: 15px;
}
.voting-area,
.voting_overview {
    text-align: center;
}

.voting_overview,
.answer-accepted {
    font-size: 1.5em;
}

.btn {
    margin-top: 15px;
    margin-left: 15px;
}

.glyphicon-ok {
    cursor: pointer;
    color: lightgray;
}

.accepted {
    color: green;
}
