#fill-in-task-compare {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 2em;
}

#fill-in-task-retry {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin: 2em 0  0 0.3em;
}

#fill-in-task-onfinish {
  background-color: #ffc107;
  border-color: #ffc107;
  margin: 2em 0  0 0.3em;
}

#fill-in-task-solution {
  color: #fff;
  background-color: #17a2b8;
  border-color: rgba(0, 158, 224, 0.55);
  margin: 2em 0  0 0.3em;
}

#fill-in-task-fieldset {
  margin: 2.5em 0 2.5em 0;
}

.fill-in-task-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#fill-in-task-progress-bar > div {
  margin: 2em 0 !important;
  max-width: calc(min(100%,350px)) !important;
}

.hidden {
  display: none;
}

[disabled] {
  background-color: grey !important;
  border-color: grey !important;
}
