#element {
    margin: 1em;
}

.sub-text {
    color:#aaa;
    font-family: verdana !important;
    font-size: 0.7em;
}

hr {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#new-comment {
    margin-top: 0.5em;
}

.fade-comment {
    width:  100%;
    height: 100%;
    -webkit-animation: fadeinout 2s ease-in forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadeinout {
    100% { opacity: 1; }
}

@keyframes fadeinout {
    100% { opacity: 1; }
}

button {
    margin-left: 1.2em;
}