#element {
    margin: 1em;
}

.sub-text {
    color:#aaa;
    font-family: verdana !important;
    font-size: 0.7em;
}

hr {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#new-comment {
    margin-top: 0.5em;
}

.fade-comment {
    width:  100%;
    height: 100%;
    -webkit-animation: fadeinout 2s ease-in forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
}

.comment-overview > span {
    color: #999;
}
#add-comment {
    margin-left: 13px;
}

@-webkit-keyframes fadeinout {
    100% { opacity: 1; }
}

@keyframes fadeinout {
    100% { opacity: 1; }
}


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: auto;
}
.post .post-description {
    padding: 15px;
}

.post .post-description .stats {
    margin-top: 20px;
}