#element {
  font-family: Roboto, sans-serif;
  color: #0f3c4b;
}

.glyphicon-cloud-upload {
  width: 100%;
  margin-bottom: 0.2em;
  font-size: 5em;
  text-align: center;
  color: rgba(0, 0, 0, 0.09);
}

#box {
  display: flow-root;
  position: relative;
  font-size: 1.25em;
  background-color: #c8dadf;
  min-height: 300px;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 1em;
  cursor: pointer;
}

#box #box-input {
  padding-top: 3.5em;
  text-align: center;
}

#box #box-buttons {
  text-align: center;
  display: none;
}

#box .visible {
  display: block !important;
}

#box.is-dragover {
  outline-offset: -20px;
  outline-color: #c8dadf;
  background-color: #fff;
}

#box .preview {
  cursor: default;
  background: rgba(255,255,255,0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}

#box .preview .box-filename {
  font-size: 11px;
  margin-top: 0.4em;
}

#box .box-image {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
  font-size: 14px;
}

#box .box-details {
  width: 120px;
  overflow: hidden;
  word-break: keep-all;
}

#box .box-progress {
  background-color: rgba(0, 128, 0, 0.6);
  width: 100%;
  height: 0.3em;
  display: none;
}

#box .box-success-mark {
 position: absolute;
  right: -10px;
  top:-10px;
  display: none;
}

#box-buttons #upload {
  margin-right: .5rem;
}