/*
  Stylesheet for positioning feedback on the left side of the page.
  !!! Mobile devices do not trigger hover event correctly. Use "right.css" for this.
*/
#slideout {
  z-index: 99999;
  position: fixed;
  top: 40px;
  left: 0px;
  width: 35px;
  padding: 12px 0;
  text-align: center;
  background: #6DAD53;
  transition-duration: 0.3s;
  border-radius: 0 5px 5px 0;
}

#slideout-inner {
  position: fixed;
  top: 40px;
  left: -250px;
  background: #6DAD53;
  width: 250px;
  padding: 8px 20px;
  height: 285px;
  transition-duration: 0.3s;
  text-align: left;
  border-radius: 0 0 5px 0;
}

#slideout:hover {
  left: 250px;
  cursor: pointer;
}

#slideout:hover #slideout-inner {
  left: 0;
  cursor: pointer;
}

.saved {
  animation-name: fadeOut;
  animation-duration: 4s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}

textarea {
  resize: none;
  width: unset;
  height: unset;
}
