.container-fluid {
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    margin-top: 15px;
}
hr {
    margin-bottom: 40px !important;
}

form {
    margin-top: 15px;
}

.btn {
    margin-top: 15px;
    margin-left: 15px;
}

.question-summery {
    cursor: pointer;
}